.header {
    background-color: rgb(194, 194, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconContainer.shiftRight {
    justify-content: flex-end;
}

.icon {
    fill: black;
    width: 1.25rem;
    height: 1.25rem;
}

.navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.navList.tablet {
    background-color: aqua;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;
}

@media (max-width: 1024px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 1025px) {
    .tablet {
        display: none;
    }
}
