.header {
    background-color: rgb(194, 194, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.navList.tablet {
    background-color: aqua;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;
}
